packages: [
  "atom-material-syntax"
  "autocomplete-python"
  "ex-mode"
  "go-plus"
  "Hydrogen"
  "hydrogen-launcher"
  "language-docker"
  "language-markdown"
  "language-r"
  "language-singularity"
  "markdown-pdf"
  "markdown-writer"
  "minimap"
  "nucleus-dark-ui"
  "package-sync"
  "pdf-view"
  "platformio-ide-terminal"
  "vim-mode-plus"
]
